/* Common Site Styling */
@import "/styles/common.css" layer(tommypkeane);

@layer pagespecific {
  #index-main-columns-top {
    margin-top: 2vw;
  }

  .main-flex-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    max-height: 35vw;
  }

  #index-main-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .main-flex-vert {
    display: flex;
    flex-direction: column;
    height: 50vw;
    justify-content: space-evenly;
    width: auto;
  }

  #index-main-col-2 {
    height: 50vw;
  }

  .main-img-button {
    width: 20vw;
  }

  .main-img-button img {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
    width: 100%;
  }

  #index-main-columns-base {
    width: 80vw;
    background-color: transparent;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    container-type: size;
    container-name: indexmaincolumnsbase;
  }

  #index-main-columns-base h1 {
    font-size: 9rem;
    color: var(--feverdream-white);
    text-shadow: 1px 2px 4px var(--feverdream-pink);
    margin-bottom: 0.5rem;
  }

  #index-main-columns-base h1 .capital {
    font-family: "Alex Brush";
    font-size: 12rem;
  }

  #index-main-columns-base h1 .lowercase {
    font-family: "MrDeHaviland";
  }

  #index-main-columns-base h2 {
    width: 60%;
    font-family: "Petemoss";
    font-size: 2rem;
    color: var(--feverdream-pink);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  #index-main-columns-base h2 .number {
    font-family: "Homecomputer Sixtyfour";
    font-size: 1rem;
  }

  @container indexmaincolumnsbase (width < 1000px) {
    #index-main-columns-base h1 {
      font-size: 7rem;
    }

    #index-main-columns-base h1 .capital {
      font-size: 9rem;
    }

    #index-main-columns-base h2 {
      font-size: 1.5rem;
    }
  }

  @container indexmaincolumnsbase (width < 700px) {
    #index-main-columns-base h1 {
      font-size: 5rem;
    }

    #index-main-columns-base h1 .capital {
      font-size: 6rem;
    }

    #index-main-columns-base h2 {
      font-size: 1rem;
    }
  }
}
