/** CSS Variables
*
* Paint Colors from:
* - https://www.behr.com/consumer/
*/
:root {
  --behr-green-equestriangreen: #53644F;
  --behr-green-jojoba: #B0B9A6;
  --behr-green-mossybench: #83A28E;
  --behr-green-perennialgreen: #46694F;
  --behr-green-royalorchard: #5F6D59;
  --behr-red-pepper: #7E3630;
  --black: rgba(0, 0, 0, 1.00);
  --black10: rgba(0, 0, 0, 0.10);
  --black25: rgba(0, 0, 0, 0.25);
  --black50: rgba(0, 0, 0, 0.50);
  --black75: rgba(0, 0, 0, 0.75);
  --white10: rgba(255, 255, 255, 0.10);
  --white50: rgba(255, 255, 255, 0.25);
  --white50: rgba(255, 255, 255, 0.50);
  --white75: rgba(255, 255, 255, 0.75);
  --white: rgba(255, 255, 255, 1.00);
}


/** Color Palettes
 * https://colorpalette.pro/
 *
 * - Fever Dream in Fever Ice: https://colorpalette.pro/?color=hsl%28333+43%25+54.6%25%29&paletteType=com&paletteStyle=diamond&colorFormat=hsl&effects=10%2C75%2C0%2C0
 * - Fever Dream in Fever Love: https://colorpalette.pro/?color=hsl%28333+43%25+54.6%25%29&paletteType=ana&paletteStyle=diamond&colorFormat=hex&effects=10%2C75%2C0%2C0
*/
:root {
  /* Fever Dream in Fever Ice */
  --feverdream-pink: #DC5B79;
  --feverdream-teal: #00C6C1;
  --feverdream-brown: #49272F;
  --feverdream-pale-pink: #E89DB0;
  --feverdream-pale-teal: #C8FBF1;
  --feverdream-green: #005751;

  /* Fever Dream in Fever Love */
  --feverdream-maroon-dark: #843D65;
  --feverdream-maroon-light: #A8396E;
  --feverdream-pink-light: #FF90A0;
  --feverdream-off-white: #FFD9D7;
  --feverdream-white: #FFE7DE;
}
