#site-header img {
  width: 100%;
  margin-bottom: 0.25rem;
  max-height: 15vh;
}

#site-header nav {
  width: 100%;
  position: fixed;
  text-align: left;
  top: 0px;
  left: 0px;
  width: 20vw;
  height: 90vh;
  padding-left: 5px;
  padding-top: 5px;
}

.indicatorIcon {
  width: 1rem;
  color: var(--black);
}

.navEntry {
  width: 100%;
  text-align: left;
  /*margin-top: 1vh;*/
  /*margin-bottom: 1vh;*/
  font-weight: 400;
  font-family: "Bellota Text", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.navEntryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  text-align: left;
  font-weight: 400;
  color: var(--black);
}

.navEntryHeader.expandable:hover {
  color: var(--behr-red-pepper);
  cursor: pointer;
  font-weight: 600;
  text-shadow: 1px 1px 2px var(--white10);
}

.navEntryHeader a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navEntryHeader span {
  padding-left: 5px;
}

.navEntryHeader a:hover {
  color: var(--behr-red-pepper);
  cursor: pointer;
  font-weight: 600;
  text-shadow: 1px 1px 2px var(--white10);
}

.navEntryHeader a:hover svg {
  color: var(--behr-red-pepper);
}

.navEntryHeader,
.navEntryBody {
  vertical-align: middle;
}

.navEntryHeader svg {
}

#common_nav {
  width: 100%;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav_entry {
  display: inline-flex;
  align-items: center;
}

.nestingLevel0 {
  padding-left: 0px;
}

.nestingLevel1 {
  padding-left: 10px;
}

.nestingLevel2 {
  padding-left: 20px;
}

.nestingLevel3 {
  padding-left: 30px;
}

.nestingLevel4 {
  padding-left: 40px;
}
